.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.my-button {
	border: none;
	background-color: green;
}

img.pokemon-image {
	margin-top: 20px;
	margin-bottom: 10px;
}